@model OPIDDaily.Models.FileViewModel

@{
    ViewBag.Title = "Ancient Checks Table";
    Layout = "~/Views/Shared/_Superadmin.cshtml";
}

<br /><br /><br />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Ancient Checks Table</h1>
            </div>
            <div class="panel-body">
                <table id="checks-data-table" class="table table-striped table-bordered" style="width:100%;"></table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var checksListVM;
        $(function () {
            checksListVM = {
                dt: null,

                init: function () {
                    dt = $('#checks-data-table').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "ajax": {
                            "url": "@Url.Action("GetAncientChecks","Superadmin")"
                        },
                        "columns": [
                            { "title": "Record ID", "data": "sRecordID", "searchable": true },
                            { "title": "Interview Record ID", "data": "sInterviewRecordID", "searchable": true },
                            { "title": "Name", "data": "Name", "searchable": true },
                            { "title": "DOB", "data": "sDOB", "searchable": true},
                            { "title": "Num", "data": "sNum", "searchable": true },
                            { "title": "Date", "data": "sDate", "searchable": true },
                            { "title": "Service", "data": "Service", "searchable": true },
                            { "title": "Disposition", "data": "Disposition", "searchable": true }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    });
                }
            }

            // initialize the datatable
            checksListVM.init();
        });
    </script>
}



<br />

<div class="row">
    <div class="col-md-12">
        <section id="MoveAncientChecksForm">
            @using (Html.BeginForm("InsertAncientChecks", "Superadmin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
            {
                // Idea for
                //   TextxboxFor(m => m.File, new { type = "file"})
                // comes from https://stackoverflow.com/questions/304617/html-helper-for-input-type-file
                @Html.AntiForgeryToken()
                <h4>Insert Ancient Research Checks into Ancient Checks Table</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.File, new { type = "file" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" class="btn btn-default" value="Insert ancient research checks" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @ViewData["InsrtedAncientChecks"]
                    </div>
                </div>
            }
        </section>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <section id="DeleteAncientChecksForm">
            @using (Html.BeginForm("DeleteAncientAncientChecks", "Superadmin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
            {
                <h4>Delete Ancient Checks from Ancient Checks Table</h4>
                <hr />
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Year, new { placeholder = "Year", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Delete Ancient Checks" class="btn btn-default" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @ViewData["DeletedAncientAncientChecks"]
                    </div>
                </div>
            }
        </section>
    </div>
</div>





