@using OPIDDaily.Models
@model DatePickerViewModel

@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Superadmin.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery-ui-1.10.0.min.js")"></script>

<link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")">

<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>

<br /><br /><br/>

<div class="row">
    <div class="col-md-8">
        <section id="datepickerForm">
            @using (Html.BeginForm("ChangeServiceDate", "Superadmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(m => m.datepicker, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.datepicker, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.datepicker, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

<br />
<h2>@ViewBag.ServiceDate</h2>
<br />

<div>
    <table id="clientsGrid"></table>
    <div id="clientsPager"></div>
</div>


<link href="@Url.Content("~/Content/jquery.jqGrid/copied.ui.jqgrid.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/Clients/SuperadminClients.js")"></script>

<br /><br />
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("RemoveServiceDateClients", "Superadmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Remove Clients" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>
