
@{
    ViewBag.Title = "SuperAdmin";
    Layout = "~/Views/Shared/_SuperAdmin.cshtml";
}

<br/><br/><br/>
<h2>Welcome Super Admin!</h2>

<h5>Release: @ViewBag.Release</h5>
<h5>Config Release: @ViewBag.ConfigRelease</h5>
<h5>Connection string has changed: @ViewBag.ChangedConnectionString</h5>
<h5>Connection String = @ViewBag.ConnectionString</h5>
<h5>Training clients = @ViewBag.TrainingClients</h5>