@model OPIDDaily.Models.RequestedServicesViewModel

@{
    ViewBag.Title = "Pre-Approval Form";
    Layout = "~/Views/Shared/_SuperAdmin.cshtml";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/preApprovalForm.js")"></script>

<div id="printerDiv">
    <br/><br/><br/>
    <h2 align="center">Pre-Approval Form</h2>
    <br/>
    <h3>Client (will be) pre-approved for requested services</h3>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.NeedsDocs, new { @class = "form-control" })
                    </div>
                    <div class="col-md-10">
                        @Html.LabelFor(m => m.NeedsDocs, new { @class = "control-label" })
                    </div>
                 </div>
                 <div class="form-group">
                     <div class="col-md-2">
                         @Html.CheckBoxFor(m => m.HasDocs, new { @class = "form-control" })
                     </div>
                     <div class="col-md-10">
                         @Html.LabelFor(m => m.HasDocs, new { @class = "control-label" })
                     </div>
                 </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_SupportingDocuments")

</div>
<br />
<center>
    <button class="btn btn-primary hidden-print" onclick="printPreApprovalForm()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>Print</button>
</center>