
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_FrontDesk.cshtml";
    // See this link for highlighting a row whose client has history
    // https://stackoverflow.com/questions/3908171/jqgrid-change-row-background-color-based-on-condition
}

<br /><br /><br />
<h2>@ViewBag.ServiceDate</h2>
<br />

<div>
    <table id="clientsGrid"></table>
    <div id="clientsPager"></div>
</div>

<link href="@Url.Content("~/Content/jquery.jqGrid/copied.ui.jqgrid.css")" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Clients/FrontDeskClients.js")"></script>

@*
<br /><br /><br />
<table>
    <tr>
        <td><a class="button" href="@Url.Action("PrehistoricChecks", "FrontDesk")">Prehistoric Checks</a></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><a class="button" href="@Url.Action("UpdateClientView", "FrontDesk")">Update Client View</a></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><a class="button" href="@Url.Action("ClearClientView", "FrontDesk")">Clear Client View</a></td>
    </tr>
</table>
*@

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.signalR-2.4.1.min.js")"></script>
<script type="text/javascript" src="~/signalr/hubs"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/HubCode/FrontDeskHubCode.js")"></script>

