
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_FrontDesk.cshtml";
}

<br /><br /><br /><br/>

<div>
    <table id="dashboardGrid"></table>
    <div id="dashboardPager"></div>
</div>

<link href="@Url.Content("~/Content/jquery.jqGrid/copied.ui.jqgrid.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/Dashboards/FrontDeskDashboard.js")"></script>
<br/><br/>
<table>
    <tr>
        <td><a class="button" href="@Url.Action("PrehistoricChecks", "FrontDesk")">Prehistoric Checks</a></td>
    </tr>
</table>

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.signalR-2.4.1.min.js")"></script>
<script type="text/javascript" src="~/signalr/hubs"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/HubCode/FrontDeskDashboardHubCode.js")"></script>