@model OPIDDaily.Models.RequestedServicesViewModel

@{
    ViewBag.Title = "Express Client"; 
    Layout = "~/Views/Shared/_FrontDesk.cshtml";
}

<style>
    input[type="checkbox"] {
        transform:scale(0.75,0.75);
    }
</style>


<h3>Express Client: @ViewBag.ClientName</h3>
<h4>DOB: @ViewBag.DOB (Age @ViewBag.Age)</h4>
<br />

<div class="row">
    <div class="col-md-12">
        <section id="expressclientForm">
            @using (Html.BeginForm("PrepareExpressClient", "FrontDesk", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @* @Html.Partial("_PreApproval", Model) *@

                <h4>Requested Services</h4>
                <hr />
           
                @Html.Partial("_RequestedServicesForm", Model)
                @Html.Partial("_SupportingDocuments", Model)

                <br /><br />

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Prepare Service Ticket" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
 
