@model OPIDDaily.Models.RequestedServicesViewModel

@{
    ViewBag.Title = "Express Client";
    Layout = "~/Views/Shared/_FrontDesk.cshtml";
}

<style>
    input[type="checkbox"] {
        transform:scale(0.75,0.75);
    }
</style>


<h3>Client: @ViewBag.ClientName</h3>
<h4>DOB: @ViewBag.DOB (Age @ViewBag.Age)</h4>
<br />

<h4>Requested Services</h4>
<hr/>
<div class="row">
    <div class="col-md-12">
        <section id="voucherForm">
            @using (Html.BeginForm("PrepareExpressClientOverflowVoucher", "FrontDesk", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.Agency, Model.Agencies, "Select Agency", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Agency, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.BC, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.BC, new { @class = "control-label" })
                    </div> 
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.HCC, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.HCC, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.MBVD, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.MBVD, new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.State, new { placeholder = "State", @class = "form-control" })
                    </div>   
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.NewTID, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.NewTID, new { @class = "control-label" })
                    </div>   
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.ReplacementTID, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.ReplacementTID, new { @class = "control-label" })
                    </div>    
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.NewTDL, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.NewTDL, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.ReplacementTDL, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.ReplacementTDL, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.Numident, new { @class = "form-control" })
                    </div>
                    <div class="col-md-10">
                        @Html.LabelFor(m => m.Numident, new { @class = "control-label" })
                    </div>
                </div>
                @*
                <h4>Supporting Documents</h4>
                <hr />
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.SDBC, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.SDBC, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.SDSSC, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.SDSSC, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.SDTID, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.SDTID, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.SDTDL, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.SDTDL, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.SDOSID, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.SDOSID, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.SDOSDL, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.SDOSDL, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.SDML, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.SDML, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.SDDD, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.SDDD, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.SDSL, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.SDSL, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.SDDD214, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.SDDD214, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.SDGC, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.SDGC, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.SDEBT, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.SDEBT, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.SDHOTID, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.SDHOTID, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.SDSchoolRecords, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.SDSchoolRecords, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.SDPassport, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.SDPassport, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.SDJobOffer, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.SDJobOffer, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.SDOther, new { @class = "form-control" })
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.SDOthersd, new { placeholder = "Other", @class = "form-control" })
                    </div>
                </div>
                *@
                <br /><br />

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Prepare Overflow Voucher" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
 
