@model OPIDDaily.Models.RequestedServicesViewModel

@{
    ViewBag.Title = "Print Express Client Overflow Voucher";
    Layout = "~/Views/Shared/_FrontDesk.cshtml";
}

    <div id="printerDiv">
        <table class="noborder">
            <tr>
                <td class="noborder"><img style="height:150px;" src="@Url.Content("~/Content/images/msmlogo.png")"></td>
                <td class="noborder">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="noborder"><h4>Operation ID Overflow Voucher</h4></td>
            </tr>
        </table>
        <h4>Client: @ViewBag.ClientName -- DOB: @ViewBag.DOB (Age @ViewBag.Age)</h4>
        <h4>Voucher issued by Operation ID on @ViewBag.VoucherDate.</h4>
        <h4>Voucher good only before 9AM on Operation ID business days. Expires: @ViewBag.Expiry.</h4>
        <br />
        <h4><strong>DISCLAIMER:</strong> Previous visits to Operation ID may make client ineligible for requested services.</h4>
        @Html.Partial("_RequestedServicesOnly")
        <br/><br/>
        @Html.Partial("_OverflowSignatureBlock")
    </div>
<br />
<center>
    <button class="btn btn-primary hidden-print" onclick="printServiceTicket()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>Print</button>
</center>