@model OPIDDaily.Models.FileViewModel

@{
    ViewBag.Title = "Research Table";
    Layout = "~/Views/Shared/_FrontDesk.cshtml";
}

<br /><br /><br />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Research Table</h1>
            </div>
            <div class="panel-body">
                <table id="checks-data-table" class="table table-striped table-bordered" style="width:100%;"></table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var checksListVM;
        $(function () {
            checksListVM = {
                dt: null,

                init: function () {
                    dt = $('#checks-data-table').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "ajax": {
                            "url": "@Url.Action("GetChecks","ResearchTable")"
                        },
                        "columns": [
                            { "title": "Record ID", "data": "sRecordID", "searchable": true },
                            { "title": "Interview Record ID", "data": "sInterviewRecordID", "searchable": true },
                            { "title": "Name", "data": "Name", "searchable": true },
                            { "title": "DOB", "data": "sDOB", "searchable": true},
                            { "title": "Num", "data": "sNum", "searchable": true },
                            { "title": "Date", "data": "sDate", "searchable": true },
                            { "title": "Service", "data": "Service", "searchable": true },
                            { "title": "Disposition", "data": "Disposition", "searchable": true }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    });
                }
            }

            // initialize the datatables
            checksListVM.init();
        });
    </script>
}

<br />

@using (Html.BeginForm("DownloadResearchTable", "FileDownload", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    <table width="100%">
        <tr>
            <td>
                <div class="form-group">
                    <input type="submit" value="Download Research Table" />
                </div>
            </td>
        </tr>
    </table>
}

@* Downloading through the browser stopped working when the Research Table became large. Now just dump the RT to the ~/Downloads/ folder.
    <form id="backupForm">
        <h4>Backup Research Table</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" type="submit">Download Research Table Backup File</button>
            </div>
        </div>
    </form>
    <br /><br />
    <div class="text-danger">
        The download button might not work the first time. Keep trying and be patient.
    </div>
*@

@*
    <form id="downloadForm">
        <h4>Backup Research Table</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" type="submit">Create Research Table Backup File in ~/Downloads/ folder</button>
            </div>
        </div>
    </form>
*@

@*
    <script type="text/javascript">
        /* https://stackoverflow.com/questions/11534690/how-to-do-a-jquery-callback-after-form-submit */
        /* https://www.airpair.com/js/jquery-ajax-post-tutorial */
        $("#backupForm").submit(function () {
            $.ajax({
                url: "@Url.Action("GetResearchTable", "FileDownload")",
                dataType: 'json',
                type: "POST",
                contentType: 'application/x-www-form-urlencoded',
                data: $(this).serialize(),
                success: function (data, textStatus, jQxhr) {
                    // alert("Inside backupForm callback: data.rtFileName = " + data.rtFileName);
                    var textFileAsBlob = new Blob([data.content], { type: 'text/plain' });

                    var downloadLink = document.createElement("a");
                    downloadLink.download = data.rtFileName + ".csv";

                    downloadLink.innerHtml = "Download Research Table";
                    downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
                    downloadLink.click();
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("error thrown: " + errorThrown);
                }
            })
        })
    </script>
*@

@*
    <script type="text/javascript">
        /* https://stackoverflow.com/questions/11534690/how-to-do-a-jquery-callback-after-form-submit */
        /* https://www.airpair.com/js/jquery-ajax-post-tutorial */
        $("#downloadForm").submit(function () {
            $.ajax({
                url: "@Url.Action("DownloadResearchTable", "FileDownload")",
                dataType: 'json',
                type: "POST",
                contentType: 'application/x-www-form-urlencoded',
                data: $(this).serialize(),
                success: function (data, textStatus, jQxhr) {
                    // alert("Inside backupForm callback: data.rtFileName = " + data.rtFileName);

                    alert("Downloaded " + data.rtFileName + " to ~/Downloads/ folder");
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("error thrown: " + errorThrown);
                }
            })
        })
    </script>
*@

@*
    @using (Html.BeginForm("DeleteResearchTable", "ResearchTable", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Delete Research Table.</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Delete Research Table" />
            </div>
        </div>
    }
*@

<br />
@using (Html.BeginForm("Restore", "ResearchTable", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    // Idea for
    //   TextxboxFor(m => m.File, new { type = "file"})
    // comes from https://stackoverflow.com/questions/304617/html-helper-for-input-type-file
    @Html.AntiForgeryToken()
    <h4>Restore from backup.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.File, new { type = "file" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Restore from backup" />
        </div>
    </div>
}

<br />
@Html.Partial("_ModalProgressBar")

