
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_FrontDesk.cshtml";
}

<br /><br /><br />
<h2>@ViewBag.ServiceDate</h2>
<br />

<div>
    <table id="reviewGrid"></table>
    <div id="reviewPager"></div>
</div>


<link href="@Url.Content("~/Content/jquery.jqGrid/copied.ui.jqgrid.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/ReviewClients/FrontDeskReview.js")"></script>

<br />
<a class="button" href="@Url.Action("PrepareTable", "FrontDesk")">Prepare Table</a>

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.signalR-2.4.1.min.js")"></script>
<script type="text/javascript" src="~/signalr/hubs"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/HubCode/FrontDeskHubCode.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/ReviewCliennts/FrontDeskReviewHubCode.js")"></script>



