
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_SuperAdmin.cshtml";
}

<br /><br /><br />


<div>
    <table id="invitationsGrid"></table>
    <div id="invitationsPager"></div>
</div>

<link href="@Url.Content("~/Content/jquery.jqGrid/copied.ui.jqgrid.css")" rel="stylesheet" />


<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $("#invitationsGrid").jqGrid({
        url: "@Url.Action("GetUsers", "Users")",
        datatype: "json",
        mtype: "Get",
        colNames: ['Id', 'Extended', 'Accepted', 'User Name', 'Full Name', 'Email', 'Role', 'Agency'],
        colModel: [
        { key: true, hidden: true, name: 'Id', index: 'Id' },
        { key: false, align: 'center', name: 'Extended', index: 'Extended', width: 80, editable: false, sortable: true, search: false },
        { key: false, align: 'center', name: 'Accepted', index: 'Accepted', width: 80, editable: false, sortable: true, search: false },
        { key: false, name: 'UserName', index: 'UserName', width: 50, editable: true, sortable: false, search: false },
        { key: false, name: 'FullName', index: 'FullName', width: 80, editable: true, sortable: false, search: false },
        { key: false, name: 'Email', index: 'Email', width: 100, editable: true, sortable: false, search: false },
        { key: false, name: 'Role', index: 'Role', width: 80, editable: true, edittype: 'select', editoptions: { value: { '--': '--', 'FrontDesk': 'FrontDesk', 'Interviewer': 'Interviewer', 'BackOffice': 'BackOffice', 'Client': 'Client', 'CaseManager': 'CaseManager' } }, sortable: false, search: false },
        { key: false, name: 'Agency', index: 'Agency', width: 80, editable: true, edittype: 'select', editoptions: { dataUrl: '@Url.Action("GetAgencies", "Users")' }, sortable: false, search: false }
        ],
        pager: '#invitationsPager',
        rowNum: 25,
        height: "100%",
        viewrecords: true,
        loadonce: false,
        caption: 'Users',
        emptyrecords: 'No records to display',
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            id: "Id"
        },
        autowidth: true,
        multiselect: false
    })

    jQuery("#invitationsGrid").jqGrid('navGrid', '#invitationsPager', { edit: true, add: true, del: true, search: false, refresh: false },
      {
          zIndex: 100,
          url: "@Url.Action("EditUser", "Users")",
          closeOnEscape: true,
          closeAfterEdit: true,
          recreateForm: true,
          afterComplete: function (response) {
              if (response.responseText) {
                  if (response.responseText == "Registered") {
                     alert("Cannot edit a user who has registered");
                  }
              }
          }
      },
      {
          zIndex: 100,
          url: "@Url.Action("ExtendInvitation", "Users")",
          closeOnEscape: true,
          closeAfterAdd: true,
          recreateForm: true,
          afterComplete: function (response) {
              if (response.responseText) {
                  if (response.responseText != "Success") {
                      // alert(response.responseText);
                  }
              }
          }
      },
      {
          zIndex: 100,
          url: "@Url.Action("DeleteUser", "Account")",
          closeOnEscape: true,
          closeAfterDelete: true,
          recreateForm: true,
          afterComplete: function (response) {
              if (response.responseText) {
                  // alert(response.responseText);
              }
          }
      });

    // http://www.trirand.com/blog/?page_id=393/help/how-to-use-add-form-dialog-popup-window-set-position
    $.extend($.jgrid.edit, {
        recreateForm: true,
        closeAfterAdd: true,
        dataheight: '100%',
        reloadAfterSubmit: true,
        width: 500,
        top: 400,
        left: 450,
        addCaption: "Invite User",
        editCaption: "Edit User",
        bSubmit: "Submit",
        bCancel: "Cancel",
        bClose: "Close",
        saveData: "Data has been changed! Save changes?",
        bYes: "Yes",
        bNo: "No",
        bExit: "Cancel"
    });

</script>

