@model OPIDDaily.Models.FileViewModel

@{
    ViewBag.Title = "Merge";
    Layout = "~/Views/Shared/_Superadmin.cshtml";
}

<br /><br /><br />
<div>
    <fieldset>
        <legend>OPID Daily File</legend>

        @using (Html.BeginForm("UploadOpidDailyFile", "Merge", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            // Idea for
            //   TextxboxFor(m => m.File, new { type = "file"})
            // comes from https://stackoverflow.com/questions/304617/html-helper-for-input-type-file
            @Html.AntiForgeryToken()
            @Html.ValidationMessage("OPIDDailyError", new { @class = "text-danger" })

            <table style="width:100%;">
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.File, new { type = "file" })
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Upload" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @ViewData["UploadedOPIDDailyFile"]
                    </td>
                </tr>
            </table>
        }
    </fieldset>

    <br /><br /><br />

                <fieldset>
                    <legend>Rebuild Research Table Files</legend>

                    @using (Html.BeginForm("UploadBirthCertificatesFile", "Merge", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                    {
                        // Idea for
                        //   TextxboxFor(m => m.File, new { type = "file"})
                        // comes from https://stackoverflow.com/questions/304617/html-helper-for-input-type-file
                        @Html.AntiForgeryToken()
                        @Html.ValidationMessage("BirthCertificatesError", new { @class = "text-danger" })

                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label class="control-label">Birth Certificates File</label>
                                        @Html.TextBoxFor(m => m.File, new { type = "file" })
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="submit" value="Upload" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @ViewData["UploadedBirthCertificatesFile"]
                                </td>
                            </tr>
                        </table>
                    }

                    <br />

                    @using (Html.BeginForm("UploadIDsFile", "Merge", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                    {
                        // Idea for
                        //   TextxboxFor(m => m.File, new { type = "file"})
                        // comes from https://stackoverflow.com/questions/304617/html-helper-for-input-type-file
                        @Html.AntiForgeryToken()
                        @Html.ValidationMessage("IDsError", new { @class = "text-danger" })

                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label class="control-label">IDs File</label>
                                        @Html.TextBoxFor(m => m.File, new { type = "file" })
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="submit" value="Upload" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @ViewData["UploadedIDsFile"]
                                </td>
                            </tr>
                        </table>
                    }
                </fieldset>

    <br/><br/><br/>

    <fieldset>
        <legend>Disposition Files</legend>

        @using (Html.BeginForm("UploadVoidedChecksFile", "Merge", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            // Idea for
            //   TextxboxFor(m => m.File, new { type = "file"})
            // comes from https://stackoverflow.com/questions/304617/html-helper-for-input-type-file
            @Html.AntiForgeryToken()
            @Html.ValidationMessage("VoidedChecksError", new { @class = "text-danger" })

            <table style="width:100%;">
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label">Voided Checks File</label>
                            @Html.TextBoxFor(m => m.File, new { type = "file" })
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Upload" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @ViewData["UploadedVCFile"]
                    </td>
                </tr>

            </table>
        }

        <br />

        @using (Html.BeginForm("UploadClearedChecksFile", "Merge", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            // Idea for
            //   TextxboxFor(m => m.File, new { type = "file"})
            // comes from https://stackoverflow.com/questions/304617/html-helper-for-input-type-file
            @Html.AntiForgeryToken()
            @Html.ValidationMessage("ClearedChecksError", new { @class = "text-danger" })

            <table style="width:100%;">
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label">Cleared Checks File</label>
                            @Html.TextBoxFor(m => m.File, new { type = "file" })
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Upload" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @ViewData["UploadedCCFile"]
                    </td>
                </tr>

            </table>
        }

    </fieldset>

    <br /><br /><br />

    @using (Html.BeginForm("PerformMerge", "Merge", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        <table width="100%">
            <tr>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Merge" />
                    </div>
                </td>
            </tr>
           @*
            <tr>
                <td>@ViewData["MergeStatus"]</td>
            </tr>
           *@
        </table>
    }
</div>

@Html.Partial("_ModalProgressBar")

