
@{
    ViewBag.Title = "Agencies";
    Layout = "~/Views/Shared/_SuperAdmin.cshtml";
}

<br /><br />
<p>Agencies</p>
<br />

<div>
    <table id="agenciesGrid"></table>
    <div id="agenciesPager"></div>
</div>

<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")" rel="stylesheet" />



<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $("#agenciesGrid").jqGrid({
        url: "@Url.Action("GetAgencies", "Agency")",
        datatype: "json",
        mtype: "Get",
        colNames: ['Id', 'Id',  'AgencyName', 'ContactPerson', 'Phone', 'Email', 'Active'],
        colModel: [
            { key: true, hidden: true, name: 'Id', index: 'Id' },
            {key: false, name: 'AgencyId', index: 'AgencyId', width: 20, editable: true, sortable: false, search: false },
            { key: false, name: 'AgencyName', index: 'AgencyName', width: 150, editable: true, sortable: false, search: false },
            { key: false, name: 'ContactPerson', index: 'ContactPerson', width: 150, editable: true, sortable: false, search: false },
            { key: false, name: 'Phone', index: 'Phone', width: 50, editable: true, sortable: false, search: false },
            { key: false, name: 'Email', index: 'Email', width: 150, editable: true, sortable: false, search: false },
            { key: false, name: 'IsActive', index: 'IsActive', width: 150, editable: true, sortable: false, search: false}
        ],
        pager: jQuery('#agenciesPager'),
        rowNum: 20,
      //  rowList: [5, 10, 15, 20],
        height: "100%",
        viewrecords: true,
        loadonce: false,
        caption: 'Agencies',
        emptyrecords: 'No records to display',
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            id: "Id"
        },
        autowidth: true,
        multiselect: false
    })

    jQuery("#agenciesGrid").jqGrid('navGrid', '#agenciesPager', { edit: true, add: true, del: true, search: false, refresh: true },
      {
          zIndex: 100,
          url: "@Url.Action("EditAgency", "Agency")",
          closeOnEscape: true,
          closeAfterEdit: true,
          recreateForm: true,
          afterComplete: function (response) {
              if (response.responseText) {
                  //   alert(response.responseText);
              }
          }
      },
      {
          zIndex: 100,
          url: "@Url.Action("AddAgency", "Agency")",
          closeOnEscape: true,
          closeAfterAdd: true,
          recreateForm: true,
          afterComplete: function (response) {
              if (response.responseText) {
                  //  alert(response.responseText);
              }
          }
      },
      {
          zIndex: 100,
          url: "@Url.Action("DeleteAgency", "Agency")",
          closeOnEscape: true,
          closeAfterDelete: true,
          recreateForm: true,
          afterComplete: function (response) {
              if (response.responseText) {
                  //   alert(response.responseText);
              }
          }
        });

     // http://www.trirand.com/blog/?page_id=393/help/how-to-use-add-form-dialog-popup-window-set-position
    $.extend($.jgrid.edit, {
        recreateForm: true,
        closeAfterAdd: true,
        dataheight: '100%',
        reloadAfterSubmit: true,
        width: 500,
        top: 400,
        left: 450,
        addCaption: "Add agency",
        editCaption: "Edit agency",
        bSubmit: "Submit",
        bCancel: "Cancel",
        bClose: "Close",
        saveData: "Data has been changed! Save changes?",
        bYes: "Yes",
        bNo: "No",
        bExit: "Cancel"
    });
</script>