@model OPIDDaily.Models.RequestedServicesViewModel

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Interviewer.cshtml";
}

<br /><br /><br />

<div>
    <table id="historyGrid"></table>
    <div id="historyPager"></div>
</div>


<link href="@Url.Content("~/Content/jquery.jqGrid/copied.ui.jqgrid.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $("#historyGrid").jqGrid({
        url: "@Url.Action("GetHistory", "Interviewer")",
        datatype: "json",
        mtype: "Get",
        colNames: ['Id', 'Date', 'Item', 'Check', 'Status', 'Notes'],
        colModel: [
        { key: true, hidden: true, name: 'Id', index: 'Id' },
        { key: false, align: 'center', name: 'Date', index: 'Date', formatter: 'date', width: 80, editable: true, sortable: true, search: false },
        { key: false, name: 'Item', index: 'Item', width: 80, editable: true, sortable: false, search: false },
        { key: false, name: 'Check', index: 'Check', width: 80, editable: true, sortable: false, search: false },
        { key: false, name: 'Status', index: 'Status', width: 100, editable: true, edittype: 'select', editoptions: { value: { '':'', 'Cleared': 'Cleared', 'Voided': 'Voided', 'Voided/No Reissue': 'Voided/No Reissue', 'Voided/Resissued': 'Voided/Reissued', 'Voided/Replaced': 'Voided/Replaced' } }, sortable: false, search: false },
        { key: false, name: 'Notes', index: 'Notes', width: 150, editable: true, sortable: false, search: false, edittype: 'textarea', editoptions: { rows: '2', columns: '10' }  }
        ],
        pager: '#historyPager',
        rowNum: 25,
        height: "100%",
        viewrecords: true,
        loadonce: false,
        caption: 'Previous visits by ' + '@ViewBag.ClientName',
        emptyrecords: 'No records to display',
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            id: "Id"
        },
        autowidth: true,
        multiselect: false
    })

    jQuery("#historyGrid").jqGrid('navGrid', '#historyPager', { edit: false, add: false, del: false, search: false, refresh: false }});


</script>

<style>
    input[type="checkbox"] {
        transform: scale(0.75,0.75);
    }
</style>

<br /><br /><br />
<h3>Existing Client: @ViewBag.ClientName</h3>
<br />

<br /><br />
<div class="row">
    <div class="col-md-8">
        <section id="existingclientForm">
            @using (Html.BeginForm("PrepareExistingClient", "Interviewer", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Agency, new { placeholder = "Agency", @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.UseBirthName, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.UseBirthName, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.BC, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.BC, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.HCC, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.HCC, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.BCEligible, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.BCEligible, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.MBVD, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.MBVD, new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.State, new { placeholder = "State", @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.MBVDEligible, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.MBVDEligible, new { @class = "control-label" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.NewTID, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.NewTID, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.NewTIDEligible, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.NewTIDEligible, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.ReplacementTID, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.ReplacementTID, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.ReplacementTIDEligible, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.ReplacementTIDEligible, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.NewTDL, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.NewTDL, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.NewTDLEligible, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.NewTDLEligible, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.ReplacementTDL, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.ReplacementTDL, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.ReplacementTDLEligible, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.ReplacementTDLEligible, new { @class = "control-label" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Prepare Service Ticket" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>