
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Interviewer.cshtml";
}

<br /><br /><br />

<div>
    <table id="historyGrid"></table>
    <div id="historyPager"></div>
</div>

 
<link href="@Url.Content("~/Content/jquery.jqGrid/copied.ui.jqgrid.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $("#historyGrid").jqGrid({
        url: "@Url.Action("GetHistory", "Interviewer")",
        datatype: "json",
        mtype: "Get",
        colNames: ['Id', 'Date', 'Item', 'Check', 'Status', 'Notes'],
        colModel: [
        { key: true, hidden: true, name: 'Id', index: 'Id' },
        { key: false, align: 'center', name: 'Date', index: 'Date', formatter: 'date', width: 80, editable: true, sortable: true, search: false },
        { key: false, name: 'Item', index: 'Item', width: 80, editable: true, sortable: false, search: false },
        { key: false, name: 'Check', index: 'Check', width: 80, editable: true, sortable: false, search: false },
        { key: false, name: 'Status', index: 'Status', width: 100, editable: true, edittype: 'select', editoptions: { value: { '':'', 'Cleared': 'Cleared', 'Voided': 'Voided', 'Voided/No Reissue': 'Voided/No Reissue', 'Voided/Resissued': 'Voided/Reissued', 'Voided/Replaced': 'Voided/Replaced' } }, sortable: false, search: false },
        { key: false, name: 'Notes', index: 'Notes', width: 150, editable: true, sortable: false, search: false, edittype: 'textarea', editoptions: { rows: '2', columns: '10' }  }
        ],
        pager: '#historyPager',
        rowNum: 25,
        height: "100%",
        viewrecords: true,
        loadonce: false,
        caption: 'Previous visits by ' + '@ViewBag.ClientName',
        emptyrecords: 'No records to display',
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            id: "Id"
        },
        autowidth: true,
        multiselect: false
    })

    jQuery("#historyGrid").jqGrid('navGrid', '#historyPager', { edit: true, add: true, del: true, search: false, refresh: false },
      {
          zIndex: 100,
          url: "@Url.Action("EditVisit", "Interviewer")",
          closeOnEscape: true,
          closeAfterEdit: true,
          recreateForm: true,
          afterComplete: function (response) {
              if (response.responseText) {
                //  alert("FrontDesk: " + response.responseText);
              }
          }
      },
      {
          zIndex: 100,
          url: "@Url.Action("AddVisit", "Interviewer")",
          closeOnEscape: true,
          closeAfterAdd: true,
          recreateForm: true,
          afterComplete: function (response) {
              if (response.responseText) {
                  if (response.responseText != "Success") {
                      alert(response.responseText);
                  }
              }
          }
      },
      {
          zIndex: 100,
          url: "@Url.Action("DeleteVisit", "Interviewer")",
          closeOnEscape: true,
          closeAfterDelete: true,
          recreateForm: true,
          afterComplete: function (response) {
              if (response.responseText) {
                //   alert(response.responseText);
              }
          }
        });

     // http://www.trirand.com/blog/?page_id=393/help/how-to-use-add-form-dialog-popup-window-set-position
    $.extend($.jgrid.edit, {
        recreateForm: true,
        closeAfterAdd: true,
        dataheight: '100%',
        reloadAfterSubmit: true,
        width: 500,
        top: 400,
        left: 450,
        addCaption: "Add Visit",
        editCaption: "Edit Visit",
        bSubmit: "Submit",
        bCancel: "Cancel",
        bClose: "Close",
        saveData: "Data has been changed! Save changes?",
        bYes: "Yes",
        bNo: "No",
        bExit: "Cancel"
    });
</script>
