@model OPIDDaily.Models.RequestedServicesViewModel

@{
    ViewBag.Title = "Print Express Client";
    Layout = "~/Views/Shared/_Interviewer.cshtml";
}

    <div id="printerDiv">
        <br/>
        <h3>Service Ticket: @ViewBag.ServiceTicket</h3>
        <br />
        <h3>Express Client: @ViewBag.ClientName</h3>
        <h4>DOB: @ViewBag.DOB (Age @ViewBag.Age)</h4>
        <h4>@ViewBag.Agency</h4>
        <br />

        @Html.Partial("_RequestedServices")
        <br /><br />
        @Html.Partial("_SignatureBlock")
    </div>
<br/>
<center>
    <button class="btn btn-primary hidden-print" onclick="printServiceTicket()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>Print</button>
</center>