
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_CaseManager.cshtml";
    // See this link for highlighting a row whose client has history
    // https://stackoverflow.com/questions/3908171/jqgrid-change-row-background-color-based-on-condition
}

<br /><br /><br />
<h2>@ViewBag.ServiceDate</h2>
<br />

<div>
    <table id="clientsGrid"></table>
    <div id="clientsPager"></div>
</div>


<link href="@Url.Content("~/Content/jquery.jqGrid/copied.ui.jqgrid.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    var lastServed = 0;
    var rowsToColor = [];

    $("#clientsGrid").jqGrid({
        url: "@Url.Action("GetMyClients", "CaseManager")",
        datatype: "json",
        pageable: true,
        mtype: "Get",
        colNames: ['Id', 'ST', 'Added', 'Expires', 'Last Name', 'First Name', 'Middle Name', 'Birth Name', 'DOB', 'Age', 'ACK', 'XID', 'XBC', 'Notes'],
        colModel: [
        { key: true, hidden: true, name: 'Id', index: 'Id' },
        { key: false, align: 'center', name: 'ServiceTicket', index: 'ServiceTicket', width: 50, editable: true, sortable: true, search: false },
        { key: false, align: 'center', name: 'ServiceDate', index: 'ServiceDate', width: 120, editable: false, sortable: true, search: false },
        { key: false, align: 'center', name: 'Expiry', index: 'Expiry', width: 120, editable: false, sortable: true, search: false },
        { key: false, name: 'LastName', index: 'LastName', width: 150, editable: true, sortable: false, search: false },
        { key: false, name: 'FirstName', index: 'FirstName', width: 150, editable: true, sortable: false, search: false },
        { key: false, name: 'MiddleName', index: 'MiddleName', width: 150, editable: true, sortable: false, search: false },
        { key: false, name: 'BirthName', index: 'BirthName', width: 150, editable: true, sortable: false, search: false },
        { key: false, align: 'center', name: 'DOB', index: 'DOB', width: 100, editable: true, sortable: true, search: false },
        { key: false, align: 'center', name: 'Age', index: 'Age', width: 50, editable: false, sortable: false, search: false },
        { name: 'PND', index: 'PND', align: 'center', width: 50, editable: false, edittype: "checkbox", editoptions: { value: "Y:''" }, },
        { name: 'XID', index: 'XID', align: 'center', width: 50, editable: false, edittype: "checkbox", editoptions: { value: "Y:''" } },
        { name: 'XBC', index: 'XBC', align: 'center', width: 50, editable: false, edittype: "checkbox", editoptions: { value: "Y:''" }, },
        { key: false, name: 'Notes', index: 'Notes', width: 150, editable: true, sortable: false, search: false, edittype: 'textarea', editoptions: { rows: '2', columns: '10' }  }
        ],
        pager: '#clientsPager',
        rowNum: 25,

        onSelectRow: function (nowServing) {
            if (nowServing == null || nowServing == lastServed) {
                // Prevent infinite recursion caused by reloadGrid
                //alert("nowServing is null or nowServing == lastServed!");
            } else {
                lastServed = nowServing;
                jQuery("#clientsGrid").jqGrid('setGridParam',
                    {
                        postData: { nowServing: nowServing },
                        url: "@Url.Action("NowServing", "CaseManager")"
                    }).trigger('reloadGrid', { fromServer: true }).jqGrid('setSelection', nowServing, true);
            }
        },

        height: "100%",
        viewrecords: true,
        loadonce: false,

        caption: 'Clients',
        emptyrecords: 'No records to display',
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            id: "Id"
        },
        autowidth: true,
        multiselect: false
    })

    jQuery("#clientsGrid").jqGrid('navGrid', '#clientsPager', { edit: true, add: true, del: true, search: false, refresh: false },
      {
          zIndex: 100,
          url: "@Url.Action("EditClient", "CaseManager")",
          closeOnEscape: true,
          closeAfterEdit: true,
          recreateForm: true,

          afterComplete: function (response) {
              if (response.responseText) {
                //  alert("CaseManager: " + response.responseText);
              }
          }
      },
      {
          zIndex: 100,
          url: "@Url.Action("AddMyClient", "CaseManager")",
          closeOnEscape: true,
          closeAfterAdd: true,
          recreateForm: true,
          afterComplete: function (response) {
              if (response.responseText) {
                  if (response.responseText != "Success") {
                      alert(response.responseText);
                  }
              }
          }
      },
      {
          zIndex: 100,
          url: "@Url.Action("DeleteClient", "CaseManager")",
          closeOnEscape: true,
          closeAfterDelete: true,
          recreateForm: true,
          afterComplete: function (response) {
              if (response) {
                  // alert(response.responseText);
              }
          }
      });

    // http://www.trirand.com/blog/?page_id=393/help/how-to-use-add-form-dialog-popup-window-set-position
    $.extend($.jgrid.edit, {
        recreateForm: true,
        closeAfterAdd: true,
        dataheight: '100%',
        reloadAfterSubmit: true,
        width: 500,
        top: 300,
        left: 450,
        addCaption: "Add Client",
        editCaption: "Edit Client",
        bSubmit: "Submit",
        bCancel: "Cancel",
        bClose: "Close",
        saveData: "Data has been changed! Save changes?",
        bYes: "Yes",
        bNo: "No",
        bExit: "Cancel"
    });
</script>

<br /><br /><br />
 

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.signalR-2.4.1.min.js")"></script>

<script type="text/javascript" src="~/signalr/hubs"></script>

<script>
    $(function () {
        var theHub = $.connection.dailyHub;

        theHub.client.refreshPage = function () {
            var currentPage = jQuery("#clientsGrid").jqGrid('getGridParam', 'page');
           // alert("currentPage = " + currentPage)
            var url = "@Url.Action("GetMyClients", "CaseManager", new { page = "pageToken", rows = "rowsToken" })";

            url = url.replace("pageToken", currentPage);
            url = url.replace("rowsToken", 25);
           // alert("url = " + url);

            $.ajax({
                url: url,
                cache: false,
                dataType: "json",
                success: function (data) {
                    var mygrid = jQuery("#clientsGrid")[0];
                    mygrid.addJSONData(data);
                }
             });
        };

        $.connection.hub.start().done(function () {
        });
    });
</script>

