@model OPIDDaily.Models.RequestedServicesViewModel

@{
    ViewBag.Title = "Express Client";
    Layout = "~/Views/Shared/_CaseManager.cshtml";
}

<style>
    input[type="checkbox"] {
        transform:scale(0.75,0.75);
    }
</style>


<h3>Client: @ViewBag.ClientName</h3>
<h4>DOB: @ViewBag.DOB (Age @ViewBag.Age)</h4>
<br />

<h4>Requested Services</h4>
<hr/>
<div class="row">
    <div class="col-md-12">
        <section id="voucherForm">
            @using (Html.BeginForm("PrepareVoucher", "CaseManager", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.BC, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.BC, new { @class = "control-label" })
                    </div>

                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.HCC, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.HCC, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.MBVD, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.MBVD, new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.State, new { placeholder = "State", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.NewTID, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.NewTID, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.ReplacementTID, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.ReplacementTID, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.NewTDL, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.NewTDL, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.ReplacementTDL, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.ReplacementTDL, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.Numident, new { @class = "form-control" })
                    </div>
                    <div class="col-md-10">
                        @Html.LabelFor(m => m.Numident, new { @class = "control-label" })
                    </div>
                </div>

                @*  @Html.Partial("_BootstrapSupportingDocuments", Model) *@
                @Html.Partial("_BootstrapSupportingDocuments")

                <br /><br />

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Prepare Case Manager Voucher" class="btn btn-default" />
                    </div>
                </div>

            }
        </section>
    </div>
</div>
 
