
@using OPIDDaily.Models
@model RequestedServicesViewModel

@{
    ViewBag.Title = "Express Client";
    Layout = "~/Views/Shared/_CaseManager.cshtml";
}


<style>
    input[type="checkbox"] {
        transform: scale(0.75,0.75);
    }
</style>


<h3>Client: @ViewBag.ClientName</h3>
<h4>DOB: @ViewBag.DOB (Age @ViewBag.Age)</h4>
<br />

<h4>Requested Services</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <section id="voucherForm">
            @using (Html.BeginForm("StoreExpressClientServiceRequest", "CaseManager", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationMessage("ServiceRequestError", new { @class = "text-danger" })

                @Html.Hidden("AgencyId", Model.AgencyId)
                @Html.Partial("_CaseManagerRequestedServicesForm", Model)

                @Html.Partial("_BootstrapSupportingDocuments", Model)

                <br /><br />

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Save Service Request" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

