@model List<OPIDDaily.Models.ClientServedViewModel>

<link rel="stylesheet" href="@Url.Content("~/Content/clientsServed.css")" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/clientsServed.js")"></script>

<div id="printerDiv">
    <br /><br /><br />
    <h2>@ViewBag.ServiceDate</h2>
    <br />

    <table id="clientsServed" width="100%">
        <tr><th>ST</th><th>Last Name</th><th>First Name</th><th>Middle Name</th><th>Notes</th></tr>
        @foreach (var client in Model)
        {
            <tr>
                <td align="center" width="50">@client.ServiceTicket</td>
                <td width="120">&nbsp;&nbsp; @client.LastName</td>
                <td width="120">&nbsp;&nbsp; @client.FirstName</td>
                <td width="120">&nbsp;&nbsp; @client.MiddleName</td>
                <td>&nbsp;&nbsp;@client.Notes</td>
            </tr>
        }
    </table>
</div>

<br /><br />
<center>
    <button class="btn btn-primary hidden-print" onclick="printClientsServed()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>Print</button>
</center>


