<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OPID Daily</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <style>
        /* https://stackoverflow.com/questions/24127521/change-bootstrap-navbar-background-color-and-font-color */
        .navbar-custom {
            background-color: WhiteSmoke;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: black;
        }

            .navbar-inverse .navbar-nav > li > a:hover {
                color: blue;
            }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Users")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @Extras.DateTimeNow().Year - OPID Daily</p>
        </footer>
    </div>

</body>
</html>
