
@model OPIDDaily.Models.RequestedServicesViewModel

<link rel="stylesheet" href="@Url.Content("~/Content/serviceTicket.css")" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/serviceTicket.js")"></script>

<div id="requestedServicesTable">
    <h4>Requested Services</h4>
    <hr />
    <table id="requestedServices" width="100%">
        <tr><th>Item</th><th>Check</th><th>Notes</th></tr>
        @if (Model.BC && Model.HCC == false)
        {
            <tr>
                <td align="center" width="80">BC</td>
                <td width="120"></td>
                <td width="200">&nbsp;&nbsp; @(!string.IsNullOrEmpty(Model.XBC) ? Model.XBC : (Model.BCEligible ? "--- eligible?" : string.Empty))</td>
            </tr>
        }
        @if (Model.BC && Model.HCC == true)
        {
            <tr>
                <td align="center" width="80">BC</td>
                <td width="80"></td>
                <td width="200">&nbsp;&nbsp; Harris County Clerk &nbsp;&nbsp; @(!string.IsNullOrEmpty(Model.XBC) ? Model.XBC : (Model.BCEligible ? "--- eligible?" : string.Empty))</td>
            </tr>
        }
        @if (Model.MBVD)
        {
            <tr>
                <td align="center" width="80">MBVD</td>
                <td width="120"></td>
                <td width="200">&nbsp;&nbsp; @Model.State &nbsp;&nbsp;  @(!string.IsNullOrEmpty(Model.XBC) ? Model.XBC : (Model.MBVDEligible ? "--- eligible?" : string.Empty))</td>
            </tr>
        }
        @if (Model.NewTID)
        {
            <tr>
                <td align="center" width="80">New/Duplicate TID</td>
                <td width="120"></td>
                <td width="200">&nbsp;&nbsp; @(Model.UseBirthName ? "Use birth name" : string.Empty) &nbsp;&nbsp; @(!string.IsNullOrEmpty(Model.XID) ? Model.XID : (Model.NewTIDEligible ? "--- eligible?" : string.Empty))</td>
            </tr>
        }
        @if (Model.ReplacementTID)
        {
            <tr>
                <td align="center" width="80">Replacement TID</td>
                <td width="120"></td>
                <td width="200">&nbsp;&nbsp; @(Model.UseBirthName ? "Use birth name" : string.Empty) &nbsp;&nbsp; @(!string.IsNullOrEmpty(Model.XID) ? Model.XID : (Model.NewTIDEligible ? "--- eligible?" : string.Empty))</td>
            </tr>
        }
        @if (Model.NewTDL)
        {
            <tr>
                <td align="center" width="80">New/Duplicate TDL</td>
                <td width="120"></td>
                <td width="200">&nbsp;&nbsp; @(Model.UseBirthName ? "Use birth name" : string.Empty) &nbsp;&nbsp; @(!string.IsNullOrEmpty(Model.XID) ? Model.XID : (Model.NewTIDEligible ? "--- eligible?" : string.Empty))</td>
            </tr>
        }
        @if (Model.ReplacementTDL)
        {
            <tr>
                <td align="center" width="80">Replacement TDL</td>
                <td width="120"></td>
                <td width="200">&nbsp;&nbsp; @(Model.UseBirthName ? "Use birth name" : string.Empty) &nbsp;&nbsp; @(!string.IsNullOrEmpty(Model.XID) ? Model.XID : (Model.NewTIDEligible ? "--- eligible?" : string.Empty))</td>
            </tr>
        }
        @if (Model.Numident)
        {
            <tr>
                <td align="center" width="80">Numident</td>
                <td width="120"></td>
                <td width="200"></td>
            </tr>
        }
    </table>
    <br />
    <h4>Supporting Documents</h4>
    <hr />
    <table id="supportingDocuments" style="border-collapse: collapse; border: none;" width="60%">
        <tr>
            <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDBC)</td>
            <td class="noborder" width="120">@Html.LabelFor(m => m.SDBC)</td>
            <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDSSC)</td>
            <td class="noborder" width="120">@Html.LabelFor(m => m.SDSSC)</td>
            @*
                <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDTID)</td>
                <td class="noborder" width="120">@Html.LabelFor(m => m.SDTID)</td>
                <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDTDL)</td>
                <td class="noborder" width="120">@Html.LabelFor(m => m.SDTDL)</td>
            *@
        </tr>
        <tr>
            <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDTID)</td>
            <td class="noborder" width="120">@Html.LabelFor(m => m.SDTID)</td>
            <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDTDL)</td>
            <td class="noborder" width="120">@Html.LabelFor(m => m.SDTDL)</td>
        </tr>
        @*
            <tr>
                <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDOSID)</td>
                <td class="noborder" width="120">@Html.LabelFor(m => m.SDOSID)</td>
                <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDOSDL)</td>
                <td class="noborder" width="120">@Html.LabelFor(m => m.SDOSDL)</td>
            </tr>
        *@
        <tr>
            <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDML)</td>
            <td class="noborder" width="120">@Html.LabelFor(m => m.SDML)</td>
            <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDDD)</td>
            <td class="noborder" width="120">@Html.LabelFor(m => m.SDDD)</td>
        </tr>
        <tr>
            <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDSL)</td>
            <td class="noborder" width="120">@Html.LabelFor(m => m.SDSL)</td>
            <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDDD214)</td>
            <td class="noborder" width="120">@Html.LabelFor(m => m.SDDD214)</td>
        </tr>
        <tr>
            <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDGC)</td>
            <td class="noborder" width="120">@Html.LabelFor(m => m.SDGC)</td>
            <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDEBT)</td>
            <td class="noborder" width="120">@Html.LabelFor(m => m.SDEBT)</td>
        </tr>
        <tr>
            <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDHOTID)</td>
            <td class="noborder" width="120">@Html.LabelFor(m => m.SDHOTID)</td>
            <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDSchoolRecords)</td>
            <td class="noborder" width="120">@Html.LabelFor(m => m.SDSchoolRecords)</td>
        </tr>
        <tr>
            <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDPassport)</td>
            <td class="noborder" width="120">@Html.LabelFor(m => m.SDPassport)</td>
            <td class="noborder" align="center" width="80"> @Html.CheckBoxFor(m => m.SDJobOffer)</td>
            <td class="noborder" width="120">@Html.LabelFor(m => m.SDJobOffer)</td>
        </tr>
    </table>
    @if (Model.SDOther)
    {
        <div style="margin-left:50px">
            @Html.CheckBoxFor(m => m.SDOther)&nbsp;&nbsp;@Model.SDOthersd
        </div>
    }
</div>

