
@model OPIDDaily.Models.RequestedServicesViewModel

<div class="form-group">
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.BC, new { disabled = "disabled", @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.BC, new { @class = "control-label" })
    </div>
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.PreApprovedBC, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.PreApprovedBC, new { @class = "control-label" })
    </div>
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.HCC, new { disabled = "disabled", @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.HCC, new { @class = "control-label" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.MBVD, new { disabled = "disabled", @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.MBVD, new { @class = "control-label" })
    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(m => m.State, new { disabled = "disabled", placeholder = "State", @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.PreApprovedMBVD, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.PreApprovedMBVD, new { @class = "control-label" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.NewTID, new { disabled = "disabled", @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.NewTID, new { @class = "control-label" })
    </div>
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.PreApprovedNewTID, new { disabled = "disabled", @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.PreApprovedNewTID, new { @class = "control-label" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.ReplacementTID, new { disabled = "disablled", @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.ReplacementTID, new { @class = "control-label" })
    </div>
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.PreApprovedReplacementTID, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.PreApprovedReplacementTID, new { @class = "control-label" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.NewTDL, new { disabled = "disabled", @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.NewTDL, new { @class = "control-label" })
    </div>
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.PreApprovedNewTDL, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.PreApprovedNewTDL, new { @class = "control-label" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.ReplacementTDL, new { disabled = "disabled", @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.ReplacementTDL, new { @class = "control-label" })
    </div>
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.PreApprovedReplacementTDL, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.PreApprovedReplacementTDL, new { @class = "control-label" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.Numident, new { disabled = "disabled", @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.Numident, new { @class = "control-label" })
    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(m => m.RequestedDocument, new { disabled = "disabled", placeholder = "Requested Document", @class = "form-control" })
    </div>
</div>

