
@model OPIDDaily.Models.RequestedServicesViewModel

<link rel="stylesheet" href="@Url.Content("~/Content/serviceTicket.css")" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/serviceTicket.js")"></script>

<div id="requestedServicesTable">
    <h4>Requested Services</h4>
    <hr />
    <table id="requestedServices" width="100%">
        <tr><th>Item</th><th>Check</th><th>Notes</th></tr>
        @if (Model.BC)
        {
            <tr>
                <td align="center" width="80">BC</td>
                <td width="120"></td>
                <td width="200">&nbsp;&nbsp; @Model.BCNotes</td>
            </tr>
        }

        @if (Model.MBVD)
        {
            <tr>
                <td align="center" width="80">MBVD</td>
                <td width="120"></td>
                <td width="200">&nbsp;&nbsp; @Model.MBVDNotes</td>
            </tr>
        }
        @if (Model.NewTID)
        {
            <tr>
                <td align="center" width="80">New/Renewal TID</td>
                <td width="120"></td>
                <td width="200">&nbsp;&nbsp; @Model.TIDNotes</td>
            </tr>
        }
        @if (Model.ReplacementTID)
        {
            <tr>
                <td align="center" width="80">Replacement TID</td>
                <td width="120"></td>
                <td width="200">&nbsp;&nbsp; @Model.TIDNotes</td>
            </tr>
        }

        @if (Model.NewTDL)
        {
            <tr>
                <td align="center" width="80">New/Renenwal TDL</td>
                <td width="120"></td>
                <td width="200">&nbsp;&nbsp; @Model.TDLNotes</td>
            </tr>
        }
        @if (Model.ReplacementTDL)
        {
            <tr>
                <td align="center" width="80">Replacement TDL</td>
                <td width="120"></td>
                <td width="200">&nbsp;&nbsp; @Model.TDLNotes</td>
            </tr>
        }
        @if (Model.Numident)
        {
            <tr>
                <td align="center" width="80">Vitals Check</td>
                <td width="120"></td>
                <td width="200"></td>
            </tr>
        }
        @if (!string.IsNullOrEmpty(Model.RequestedDocument))
        {
            <tr>
                <td align="center" width="80">Requested Document</td>
                <td width="120">&nbsp;@Model.RequestedDocument</td>
                <td width="200"></td>
            </tr>
        }
        @if (Model.TrackingOnly)
        {
            <tr>
                <td colspan="3">&nbsp;&nbsp;Tracking Only</td>
            </tr>
        }
        @if (!string.IsNullOrEmpty(Model.Notes))
        {
            <tr>
               <td colspan="3"><strong>&nbsp;&nbsp;@Model.Notes</strong></td>
           </tr>
        }
    </table>
   
</div>

