@model OPIDDaily.Models.RequestedServicesViewModel

<div class="form-group">
    <div class="col-md-12">
        @Html.DropDownListFor(model => model.Agency, Model.Agencies, "Select Agency", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Agency, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.BC, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.BC, new { @class = "control-label" })
    </div>
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.PreApprovedBC, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.PreApprovedBC, new { @class = "control-label" })
    </div>
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.HCC, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.HCC, new { @class = "control-label" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.MBVD, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.MBVD, new { @class = "control-label" })
    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(m => m.State, new { placeholder = "State", @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.PreApprovedMBVD, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.PreApprovedMBVD, new { @class = "control-label" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.NewTID, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.NewTID, new { @class = "control-label" })
    </div>
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.PreApprovedNewTID, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.PreApprovedNewTID, new { @class = "control-label" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.ReplacementTID, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.ReplacementTID, new { @class = "control-label" })
    </div>
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.PreApprovedReplacementTID, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.PreApprovedReplacementTID, new { @class = "control-label" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.NewTDL, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.NewTDL, new { @class = "control-label" })
    </div>
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.PreApprovedNewTDL, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.PreApprovedNewTDL, new { @class = "control-label" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.ReplacementTDL, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.ReplacementTDL, new { @class = "control-label" })
    </div>
    <div class="col-md-2">
        @Html.CheckBoxFor(m => m.PreApprovedReplacementTDL, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.PreApprovedReplacementTDL, new { @class = "control-label" })
    </div>
</div>
    <div class="form-group">
        <div class="col-md-2">
            @Html.CheckBoxFor(m => m.Numident, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.LabelFor(m => m.Numident, new { @class = "control-label" })
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.RequestedDocument, new { placeholder = "Requested Document", @class = "form-control" })
        </div>
    </div>

