@model OPIDDaily.Models.RequestedServicesViewModel

<link rel="stylesheet" href="@Url.Content("~/Content/serviceTicket.css")" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/serviceTicket.js")"></script>

<div id="requestedServicesTable">
    <h4>Requested Services</h4>
    <hr />
    <table id="requestedServices" width="100%">
        <tr><th>Item</th><th>Check</th><th>Notes</th></tr>
        @if (Model.BC && Model.HCC == false)
        {
            <tr>
                <td align="center" width="80">BC</td>
                <td width="120"></td>
                <td width="200">&nbsp;&nbsp; @(!string.IsNullOrEmpty(Model.XBC) ? Model.XBC : string.Empty)</td>
            </tr>
        }
        @if (Model.BC && Model.HCC == true)
        {
            <tr>
                <td align="center" width="80">BC</td>
                <td width="80"></td>
                <td width="200">&nbsp;&nbsp; Harris County Clerk &nbsp;&nbsp; @(!string.IsNullOrEmpty(Model.XBC) ? Model.XBC : string.Empty)</td>
            </tr>
        }
        @if (Model.MBVD)
        {
            <tr>
                <td align="center" width="80">MBVD</td>
                <td width="120"></td>
                <td width="200">&nbsp;&nbsp; @Model.State &nbsp;&nbsp;  @(!string.IsNullOrEmpty(Model.XBC) ? Model.XBC : string.Empty)</td>
            </tr>
        }
        @if (Model.NewTID)
        {
            <tr>
                <td align="center" width="80">New/Renewal TID</td>
                <td width="120"></td>
                <td width="200"> &nbsp;&nbsp; @(!string.IsNullOrEmpty(Model.XID) ? Model.XID : string.Empty)</td>
            </tr>
        }
        @if (Model.ReplacementTID)
        {
            <tr>
                <td align="center" width="80">Replacement TID</td>
                <td width="120"></td>
                <td width="200"> &nbsp;&nbsp; @(!string.IsNullOrEmpty(Model.XID) ? Model.XID : string.Empty)</td>
            </tr>
        }
        @if (Model.NewTDL)
        {
            <tr>
                <td align="center" width="80">New/Renewal TDL</td>
                <td width="120"></td>
                <td width="200"> &nbsp;&nbsp; @(!string.IsNullOrEmpty(Model.XID) ? Model.XID : string.Empty)</td>
            </tr>
        }
        @if (Model.ReplacementTDL)
        {
            <tr>
                <td align="center" width="80">Replacement TDL</td>
                <td width="120"></td>
                <td width="200"> &nbsp;&nbsp; @(!string.IsNullOrEmpty(Model.XID) ? Model.XID : string.Empty)</td>
            </tr>
        }
        @if (Model.Numident)
        {
            <tr>
                <td align="center" width="80">Vitals Check</td>
                <td width="120"></td>
                <td width="200"></td>
            </tr>
        }
        @if (!string.IsNullOrEmpty(Model.RequestedDocument))
        {
            <tr>
                <td align="center" width="80">Requested Document</td>
                <td width="120">@Model.RequestedDocument</td>
                <td width="200"></td>
            </tr>
        }
    </table>
</div>

