
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_BackOffice.cshtml";
}

<br /><br /><br />
<h2>@ViewBag.ServiceDate</h2>
<br/>

<div>
    <table id="clientsGrid"></table>
    <div id="clientsPager"></div>
</div>

<link href="@Url.Content("~/Content/jquery.jqGrid/copied.ui.jqgrid.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    var lastServed = 0;

    $("#clientsGrid").jqGrid({
        url: "@Url.Action("GetClients", "BackOffice")",
        datatype: "json",
        mtype: "Get",
        colNames: ['Id', 'ST', 'WT', 'Stage','Last Name', 'First Name', 'Middle Name', 'Birth Name', 'DOB', 'Age', 'PND', 'XID', 'XBC', 'HIS', 'Notes'],
        colModel: [
        { key: true, hidden: true, name: 'Id', index: 'Id' },
        { key: false, align: 'center', name: 'ServiceTicket', index: 'ServiceTicket', width: 50, editable: true, sortable: true, search: false },
        { key: false, align: 'center', name: 'WaitTime', index: 'WaitTime', width: 50, editable: false, sortable: true, search: false },
        { key: false, name: 'Stage', index: 'Stage', width: 100, editable: true, edittype: 'select', editoptions: { value: { 'Screened': 'Screened', 'CheckedIn': 'CheckedIn', 'Interviewing' : 'Interviewing', 'Interviewed' : 'Interviewed', 'BackOffice' : 'BackOffice', 'Done' : 'Done' } }, sortable: false, search: false },
        { key: false, name: 'LastName', index: 'LastName', width: 150, editable: true, sortable: false, search: false },
        { key: false, name: 'FirstName', index: 'FirstName', width: 150, editable: true, sortable: false, search: false },
        { key: false, name: 'MiddleName', index: 'MiddleName', width: 150, editable: true, sortable: false, search: false },
        { key: false, name: 'BirthName', index: 'BirthName', width: 150, editable: true, sortable: false, search: false },
        { key: false, align: 'center', name: 'DOB', index: 'DOB', width: 100, editable: true, sortable: true, search: false },
        { key: false, align: 'center', name: 'Age', index: 'Age', width: 50, editable: false, sortable: true, search: false },
        { name: 'PND', index: 'PND', align: 'center', width: 50, editable: true, edittype: "checkbox", editoptions: { value: "Y:''" }, },
        { name: 'XID', index: 'XID', align: 'center', width: 50, editable: true, edittype: "checkbox", editoptions: { value: "Y:''" } },
        { name: 'XBC', index: 'XBC', align: 'center', width: 50, editable: true, edittype: "checkbox", editoptions: { value: "Y:''" }, },
        { name: 'History', index: 'History', align: 'center', width: 50, editable: false, sortable: false, search: false },
        { key: false, name: 'Notes', index: 'Notes', width: 150, editable: true, sortable: false, search: false, edittype: 'textarea', editoptions: { rows: '2', columns: '10' }  }
        ],
        pager: '#clientsPager',
        rowNum: 25,
        
        onSelectRow: function (nowServing) {
            if (nowServing == null || nowServing == lastServed) {
                // Prevent infinite recursion caused by reloadGrid
                //alert("nowServing is null or nowServing == lastServed!");
            } else { 
                lastServed = nowServing;
                jQuery("#clientsGrid").jqGrid('setGridParam',
                    {
                        postData: { nowServing: nowServing },
                        url: "@Url.Action("NowServing", "FrontDesk")"
                    }).trigger('reloadGrid', { fromServer: true }).jqGrid('setSelection', nowServing, true);
            }
        },

        height: "100%",
        viewrecords: true,
        loadonce: false,
        caption: 'Clients',
        emptyrecords: 'No records to display',
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            id: "Id"
        },
        autowidth: true,
        multiselect: false
    })

    jQuery("#clientsGrid").jqGrid('navGrid', '#clientsPager', { edit: true, add: true, del: true, search: false, refresh: true },
      {
          zIndex: 100,
          url: "@Url.Action("EditClient", "BackOffice")",
          closeOnEscape: true,
          closeAfterEdit: true,
          recreateForm: true,
          afterComplete: function (response) {
              if (response.responseText) {
                //  alert("FrontDesk: " + response.responseText);
              }
          }
      },
      {
          zIndex: 100,
          url: "@Url.Action("AddClient", "BackOffice")",
          closeOnEscape: true,
          closeAfterAdd: true,
          recreateForm: true,
          afterComplete: function (response) {
              if (response.responseText) {
                  if (response.responseText != "Success") {
                      alert(response.responseText);
                  }
              }
          }
      },
      {
          zIndex: 100,
          url: "@Url.Action("DeleteClient", "BackOffice")",
          closeOnEscape: true,
          closeAfterDelete: true,
          recreateForm: true,
          afterComplete: function (response) {
              if (response) {
                 //  alert(response.responseText);
              }
          }
      });

    // http://www.trirand.com/blog/?page_id=393/help/how-to-use-add-form-dialog-popup-window-set-position
    $.extend($.jgrid.edit, {
        recreateForm: true,
        closeAfterAdd: true,
        dataheight: '100%',
        reloadAfterSubmit: true,
        width: 500,
        top: 400,
        left: 450,
        addCaption: "Add Client",
        editCaption: "Edit Client",
        bSubmit: "Submit",
        bCancel: "Cancel",
        bClose: "Close",
        saveData: "Data has been changed! Save changes?",
        bYes: "Yes",
        bNo: "No",
        bExit: "Cancel"
    });
</script>

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.signalR-2.4.1.min.js")"></script>

<script type="text/javascript" src="~/signalr/hubs"></script>

<script>
    $(function () {
        var theHub = $.connection.dailyHub;
        var lastPage = jQuery("#clientsGrid").jqGrid('getGridParam', 'lastpage');

        theHub.client.refreshPage = function () {
            $.ajax({
                url: "/opiddaily/frontdesk/GetClients?page=" + lastPage + "&rows=25",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var mygrid = jQuery("#clientsGrid")[0];
                    mygrid.addJSONData(data);
                }
            });
        };

        $.connection.hub.start().done(function () {
        });
    });
</script>